# Dataset
DATA/classical
DATA/blues
DATA/country
DATA/disco
DATA/hiphop
DATA/jazz
DATA/metal
DATA/pop
DATA/reggae
DATA/rock

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-*/
.idea/

.DS_store

# Temporary files
build/
CART/Python/__pycache__
CART/__pycache__
CART/.mypy_cache
